@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to the Item ordering system</h1>

<p>
    On this website you can as a user put the items in to your cart and go and look on what you have ordered
    as a admin you can create new users, items, update items and delete items. 
</p>